<div id="tool-map" class="col-lg-12">
    <div class="row">
        <h3>Tool Map</h3>
    </div>

    <div class="row row-map-title">
        <div class="col-lg-2 d-none d-lg-block">
            <h5>Tool Name</h5>
        </div>
        {{#each this.dimensions}}
            <div class="col-lg d-none d-lg-block"><h5>{{name}}</h5></div>
        {{/each}}
    </div>

    {{#each this.tools}}
        <div class="row">
            <div class="col-lg-2 d-none d-lg-block card map-card">
                <div class="card-body ">
                    <div class="card-title">
                        <h5>{{toolName}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-10 d-none d-lg-block card map-card">
                <div class="card-body">
                    <div class="row">
                        {{#each mapView}}
                            <div class="col-lg">
                                {{#each this}}
                                    {{name}}
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 d-sm-block d-lg-none card map-card">
                <div class="card-body ">
                    <div class="card-title">
                        <h4>{{toolName}}</h4>
                    </div>
                    {{#each mapView}}
                        {{#each this}}
                            <p>
                                {{name}}
                            </p>
                        {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
